<ion-view title="Ajustes">

        <ion-pane>
        <ion-content on-swipe-right="goBack()" on-swipe-left="goForward()">
    
      
    <div class="list card">

  <div class="item item-avatar">
    <img src="../img/user.png">
    <h2>Federico Perez</h2>
      <p>Estudiante de ingeniería</p>
  </div>

  <a class="item item-icon-left positive" href="#">
    <i class="icon ion-document-text"></i>
    Filtro noticias
  </a>
        
        <ul class="list">

  <li class="item item-toggle">
     Ingeniería
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
            
 <li class="item item-toggle">
     Administración
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
    
<li class="item item-toggle">
     Comunicación
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     Ingeniería
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
            
<li class="item item-toggle">
     Diseño
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

<li class="item item-toggle">
     Egresados
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
            
</ul>

  <div class="item item-avatar" ng-click="showConfirm()">
    <img src="../img/close-round.png">
    <h2 class="assertive" >Cerrar sesión</h2>
      <p>Tener en cuenta que se cerrara la sesión </p>
         <p>en todos los dispositivos.</p> 
  </div>


</div>
      </ion-content>
    </ion-pane>
    </ion-pane>
      </ion-view>