        <ion-content class="padding animated fadeIn" on-swipe-right="goBack()" on-swipe-left="goForward()">
           <ion-list>
            <div ng-repeat="group in groups">
              <ion-item class="app-item ng-enter" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                {{group.name}}
                <i class="icon deplegableIcon" ng-if="platform.isAndroid()" ng-class="isGroupShown(group) ? 'ion-android-arrow-dropdown' : 'ion-android-arrow-dropright'"></i>
                <i class="icon deplegableIcon" ng-if="!platform.isAndroid()" ng-class="isGroupShown(group) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
            </ion-item>
          <div ng-repeat="item in group.items"
          ng-show="isGroupShown(group)">

          
          <div class="row responsive-sd">

              <div class="col square responsive-sd">
              <button class="button-icon ion-information-circled custom-icon"  ng-click="openPopover($event,'app.html', item[0].description, item[0].logo, item[0].linkWeb, item[0].linkAndroid, item[0].linkIOS, item[0].name)"
              ng-if="item[0].name"></button>
               <div class="content">
                <button class="button button-light" ng-if="item[0].name">
                <img class="img" data-ng-src="data:image/png;base64,{{item[0].logo}}" ng-if="item[0].name"/>
                {{item[0].name}}
                </button>
                </div>
              </div>
              <div class="col square responsive-sd">
              <button class="button-icon ion-information-circled custom-icon"  ng-click="openPopover($event,'app.html',item[1].description, item[1].logo, item[1].linkWeb, item[1].linkAndroid, item[1].linkIOS, item[1].name)"
              ng-if="item[1].name"></button>
               <div class="content">
                <button class="button button-light" ng-if="item[1].name">
                <img class="img" data-ng-src="data:image/png;base64,{{item[1].logo}}" ng-if="item[1].name"/>
                {{item[1].name}}
                </button>
                </div>
              </div>

      

         </div>
         
      </div>
  </div>
</ion-list>
</ion-content>