   
<ion-content on-swipe-right="goBack()" on-swipe-left="goForward()" class="animated fadeIn">
 
<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="../img/campus_sostenible.jpg">
    <h2>Campus Sostenible</h2>
    <p>
    El proyecto de Campus Sostenible ha sido reconocido con el premio al Medio Ambiente de Caracol Televisión 2016 y el premio Andesco a la Eficiencia Energética 2015.
    </p>
    <p>
      <a href="new.html" class="subdued assertive">Ver mas</a>

    </p>
  </div>

</div>


<div class="list card">

<div class="item item-body">
<img class="full-image" src="../img/proceso-de-paz_0.jpg">
<h2>Posplebiscito, tema en Cátedra de Paz</h2>
<p>
Para dar continuidad a las actividades de Cátedra de Paz, la facultad de Humanidades realizará la última sesión de este año,
 la cual comprende cuatro sesiones magistrales, donde participarán los cursos correspondientes a dichas franjas; sin embargo, 
 esta es una actividad de formación, abierta para toda la Comunidad Universitaria.   
</p>
<p>
  <a href="new.html" class="subdued assertive">Ver mas</a>

</p>
</div>

</div>
</ion-content>