   
<ion-content on-swipe-right="goBack()" on-swipe-left="goForward()">
 
<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/sample-1.jpg">
    <h2>Titular</h2>
    <p>
    Aqui habria un resumen de la noticia.
    </p>
    <p>
      <a href="#" class="subdued assertive">Ver mas</a>

    </p>
  </div>

</div>


<div class="list card">

<div class="item item-body">
<img class="full-image" src="img/paisaje-urbano.jpg">
<h2>Titular</h2>
<p>
Aqui habria un resumen de la noticia.
</p>
<p>
  <a href="#" class="subdued assertive">Ver mas</a>

</p>
</div>

</div>
</ion-content>