<ion-tabs class="tabs-striped tabs-icon-top tabs-assertive">

        <ion-tab title="NOTICIAS" icon="ion-document-text" ui-sref="tabs.news">
          <ion-nav-view name="news-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="APPS" icon="icon ion-grid" ui-sref="tabs.apps">
          <ion-nav-view name="apps-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="AJUSTES" icon="ion-gear-b" ui-sref="tabs.ajust">
          <ion-nav-view name="ajust-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>