<ion-content>

  <ion-tabs class="tabs-striped tabs-icon-top tabs-assertive">
     <ion-tab title="NOTICIAS" icon="ion-document-text">
       <ion-view view-title="Noticias">
        <div ng-include src="'views/news.html'"></div>
      </ion-view>
    </ion-tab>
    <ion-tab title="APPS" icon="icon ion-grid">
      <ion-view view-title="Noticias">
        <div ng-include src="'views/apps.html'"></div>
      </ion-view>
    </ion-tab>
    <ion-tab title="AJUSTES" icon="ion-gear-b">
      <ion-view view-title="Noticias">
        <div ng-include src="'views/ajust.html'"></div>
      </ion-view>
    </ion-tab>

  </ion-tabs>
  
  </ion-content>
