  <style>.popover { height:85%; width:90%;left: 30%; top: 20%}</style>
  <ion-popover-view class="animated fadeInLeft">
    <ion-header-bar>
      <h1 class="title">{{passing.nombre}}</h1>

        <div class="buttons" ng-click="popover.hide()">
    <a class="button button-icon icon ion-close-round"  ></a>
  </div>
    </ion-header-bar>
    
    <ion-content scroll="false" class="padding" style="height: 500px">
 <img class="img.fit" data-ng-src="data:image/png;base64,{{passing.log}}" width="50%" height="auto" />
 <h4>Descripción:</h4>

 <p> {{passing.desc}}  </p>

 <h4 ng-if="passing.linkA">Descargalo en:</h4>
 <h4 ng-if="passing.linkI">Descargalo en:</h4>
 <h4 ng-if="passing.linkW">Vinculo:</h4>

  <a href="{{passing.linkW}}">{{passing.linkW}}</a>
<img class="img.fit" src="../img/android.png" width="45%" height="auto" ng-if="passing.linkA">  </img>
<img width="7%" />
<img class="img.fit" src="../img/mac_os.png" width="45%" height="auto" ng-if="passing.linkI"></img>

    </ion-content>
  </ion-popover-view>



