  <style>.popover { height:400px; width:95%; }</style>
  <ion-popover-view class="animated fadeInLeft">
    <ion-header-bar>
      <h1 class="title">UAO Movil</h1>

        <div class="buttons" ng-click="popover.hide()">
    <a class="button button-icon icon ion-close-round"  ></a>
  </div>
    </ion-header-bar>
    
    <ion-content scroll="false" class="padding" style="height: 500px">
 <img class="img.fit" src="../img/logo_uao2.png" width="50%" height="auto" />

 <h4>Descripción:</h4>

 <p>Aquí se hablaria de la funcion principal de la aplicación</p>
 <br>
<br>
  <a href="https:www.uao.edo.co"><h4>!Accede a la paguina por aquí¡</h4></a>

    </ion-content>
  </ion-popover-view>